@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "__layout";
}
<form asp-controller="Admin" asp-action="testing" method="post" class="mt-5">
    <input type="text" name="forsubcat" />
    <input type="text" name="forproduct" value="" />
    <button type="submit">add</button>
</form>



